Fase2/Proyecto/Proyecto/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DevolverEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DevolverEmpleadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DevolverClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverDirector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverDirectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DevolverDirectorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DevolverAdministradorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pDPI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverNombreClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pNumero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverNombreEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseoCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseoCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParseoCSVResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DevolverEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverEmpleado" />
  </wsdl:message>
  <wsdl:message name="DevolverEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverCliente" />
  </wsdl:message>
  <wsdl:message name="DevolverClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverClienteResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverDirectorSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverDirector" />
  </wsdl:message>
  <wsdl:message name="DevolverDirectorSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverAdministrador" />
  </wsdl:message>
  <wsdl:message name="DevolverAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverNombreCliente" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverNombreClienteResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverNombreEmpleado" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverNombreEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="ParseoCSVSoapIn">
    <wsdl:part name="parameters" element="tns:ParseoCSV" />
  </wsdl:message>
  <wsdl:message name="ParseoCSVSoapOut">
    <wsdl:part name="parameters" element="tns:ParseoCSVResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DevolverEmpleado">
      <wsdl:input message="tns:DevolverEmpleadoSoapIn" />
      <wsdl:output message="tns:DevolverEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverCliente">
      <wsdl:input message="tns:DevolverClienteSoapIn" />
      <wsdl:output message="tns:DevolverClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverDirector">
      <wsdl:input message="tns:DevolverDirectorSoapIn" />
      <wsdl:output message="tns:DevolverDirectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverAdministrador">
      <wsdl:input message="tns:DevolverAdministradorSoapIn" />
      <wsdl:output message="tns:DevolverAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <wsdl:input message="tns:DevolverNombreClienteSoapIn" />
      <wsdl:output message="tns:DevolverNombreClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreEmpleado">
      <wsdl:input message="tns:DevolverNombreEmpleadoSoapIn" />
      <wsdl:output message="tns:DevolverNombreEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseoCSV">
      <wsdl:input message="tns:ParseoCSVSoapIn" />
      <wsdl:output message="tns:ParseoCSVSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverEmpleado">
      <soap:operation soapAction="http://tempuri.org/DevolverEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverCliente">
      <soap:operation soapAction="http://tempuri.org/DevolverCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverDirector">
      <soap:operation soapAction="http://tempuri.org/DevolverDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverAdministrador">
      <soap:operation soapAction="http://tempuri.org/DevolverAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <soap:operation soapAction="http://tempuri.org/DevolverNombreCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreEmpleado">
      <soap:operation soapAction="http://tempuri.org/DevolverNombreEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseoCSV">
      <soap:operation soapAction="http://tempuri.org/ParseoCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverEmpleado">
      <soap12:operation soapAction="http://tempuri.org/DevolverEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverCliente">
      <soap12:operation soapAction="http://tempuri.org/DevolverCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverDirector">
      <soap12:operation soapAction="http://tempuri.org/DevolverDirector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverAdministrador">
      <soap12:operation soapAction="http://tempuri.org/DevolverAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <soap12:operation soapAction="http://tempuri.org/DevolverNombreCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreEmpleado">
      <soap12:operation soapAction="http://tempuri.org/DevolverNombreEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseoCSV">
      <soap12:operation soapAction="http://tempuri.org/ParseoCSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:9171/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:9171/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>